
/*mi paleta de colores
    FF473C base
    FFA809 */
    html {
        font-family: 'Dosis', sans-serif;
    }
    .content{
       background-color: darkseagreen;
       /* max-width: 960px;
       max-height: 600px;
       width: 100%;
       height: 100%; */
       height: 85vh;
       width: 85vw;
       box-shadow: 0 3px 6px rgba(0,0,0,0.16) , 0 3px 6px rgba(0,0,0,0.23);
       position: relative ; 
       padding: 0.5em;
       border-radius: 20px;
       overflow: scroll;
    }
    .container {
        background: #a50707;  
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #99f2c8, #1f4037); 
         /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #99f2c8, #1f4037); 
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;   
    }
    .table {
        width: 100%;
        border-spacing: 0;
    }

    .table th, 
    .table td {
      padding: 1em;
      text-align: left;
    }

    .table tr:nth-child(even) {
        background-color: rgb(74, 180, 74) ;
    }
    .table tr:nth-child(odd){
        background-color: rgb(72, 199, 161);
    }
    td:nth-of-type(1){
        font-size: 1.3em;
        color : black 
    
    }
    
    td:nth-of-type(1){
        background-color: rgba(211, 211, 211, 0.712);
    }

    th{
        display: none;
    }

    td{
        display: block;
        text-align: left;
        
    }
    .fa-star{
        color: rgb(211, 226, 78)
     }

    
    .center{
        text-align: center
    } 
    .underline{
        border-bottom: solid 5px rgb(173, 55, 55);
        padding-bottom: 20px;
    }
    .position{
        background-color: rgb(148, 168, 33);
        padding: 10px;
        border-radius: 4px;
        margin-left: 5px;
    }
    /*.action{
        position: absolute;
        top: 1em;
        right: 1em;
    } */

    .action{
        position: sticky;
        top: 1em;
        left: 1em;
        display: flex;
        justify-content:flex-end; 
        }
    .close {
        height: 40px;
        width: 40px;
        color: rgb(32, 161, 161);
        background-color: bisque;
        display: inline-block;
        border-radius: 30px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16) , 0 3px 6px rgba(0,0,0,0.23);
        font-weight: 300;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    a {
        text-decoration: none;
    }
    .title {
        text-transform: uppercase;
        text-align: center;
    }
    .item-title {
        font-size: 0.5em;
        text-transform: uppercase;
    }
    .item-image{
        display: none;
    }
    iframe{
       width: 70vw; 
    }
    /*pseudoclases
    :hover | :visited | : active | :focus
    
    */
    i:hover{
      color: red;
    }
    a:visited{
        color: rgb(21, 67, 219)
    }
    a:focus{
        background-color: goldenrod;
    }
    /*unidades de medida en css*/
    /*unidades fijas, estaticas o absolutas
    /* pixeles px, centimetros cm, milimetros mm, picas pc, puntos pt
    /*unidades de medida relativas
    /*porcentajes %, em , ex X (relacion a la X mayuscula de la fuente,rem, vh (1% del alto de la pantalla)vw(1% ancho pantalla)

    /*mesia querys*/
    /* @media(breakpoint){propiedades*/

        @media(min-width:600px){
            th{
                display: table-cell;
            }
            td{
                display: table-cell;
            }
            td:nth-of-type(1){
                font-size: 1em;
                color : black 
            }
            .content{
                width: 70vw;
                height: 80vh;
                padding: 1.8em;
            }
            .item-image{
                display: inline-block; 
            }
            iframe{
                width: 35vw;
                height: 200px;
            }
            .inline {
                display: inline-block
            }
            .action{
                position: absolute;
                top: 1em;
                right: 1em; 
            }
            .item-title {
                font-size: 1.5em;
                text-transform: uppercase;
        }   
